html,
body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  top: 0;
  bottom: 0;
  color: #ffffff;
}
#header {
  position: relative;
  left: 0;
  bottom: 0;
  width: 100%;
  height: fit-content;
  background-color: rgb(61, 6, 78);
  color: white;
  text-align: center;
}
h1 {
  text-align: center;
}
h3 {
  text-align: right;
}
h5 {
  color: white;
  background-color: rgb(204, 47, 170);
}
p {
  color: indigo;
  background-color: lavender;
}
.top-nav {
  display: block;
}
.top-nav ul {
  margin: 0;
  padding: 0;
  position: absolute;
  right: 6%;
  top: 2%;
}
.top-nav ul li {
  display: inline-block;
  margin-left: 28px;
}
.top-nav ul a {
  color: #ffffff;
  text-decoration: none;
  font-size: 18px;
}
.top-nav ul a:hover {
  color: purple;
  transition: 0.15s ease-in;
}
#footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: fit-content;
  padding: 1%;
  background-color: rgb(61, 6, 78);
  color: white;
  text-align: center;
}
.bottom-nav {
  display: block;
  font-size: 12px;
}
.bottom-nav ul {
  margin: 0;
  padding: 0;
  position: relative;
  right: 6%;
  top: 2%;
}
.bottom-nav ul li {
  display: inline-block;
  margin-left: 28px;
}
.bottom-nav ul a {
  color: #ffffff;
  text-decoration: none;
}
.bottom-nav ul a:hover {
  color: purple;
  transition: 0.15s ease-in;
}
#section-landing {
  background: url("../img/cover.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
}
a.btn {
  padding: 4px;
  font-size: 12px;
  text-transform: uppercase;
  color: cornsilk;
  background-color: darkmagenta;
}
a.btn:hover {
  color: blueviolet;
}
#container-user {
  background-color: fuchsia;
}
