

//HEADER
header{
    background: -webkit-linear-gradient(90deg, rgb(174, 106, 179), rgb(72, 104, 220));
    background: linear-gradient(90deg, rgb(174, 106, 179), rgb(72, 104, 220));
   
    text-align: center;
    height: 20rem;
    margin-bottom: 20px;
    padding-top: 30px;
    color: white;
    font-weight: lighter;
    h1{
        font-weight: lighter;
        justify-content: center;
        font-size: 150px;
    }
    .log{
        display: inline-flex;
        padding-right: 20px;
        float: right;
        font-size: 20px;
        a{
            text-decoration: none;
            color: white;
            padding: 4px;
            font-weight: 400;
        }
    }
}


body{
    margin: 0;
    padding: 0;
    background-color: #F9F9F9;
    box-sizing: border-box;
    
}

//MAIN
.container-fluid{
    z-index: 2;
    position: absolute;
    margin: -77px 20px 0 20px;
    border-radius: 10px;
    background-color: white;
    padding-top: 0px;
    width: 96%;
    .path{
        ul{
        list-style: none;
        display: flex;
        justify-content: left;
        padding: 20px 0px 0px 0px;
            a{
                text-decoration: none;
                color: #6A6A6A;
                padding: 5px;
            }
        }
    }
}

h2{
    font-family: 'Rubik', sans-serif;
    font-weight: lighter;
    color: #6A6A6A;
    padding-left: 30px;
}


//RULES
.rules{
    background-color: #ECD5D9;
    margin-left: 30px;
    border-left: solid 3px #BE3853;
    border-radius: 5px;
    color: #6A6A6A;
    text-align: left;
    padding-top: 4px;
    width: 53rem;
    padding-bottom: 4px;
    padding-left: 10px;
    font-size: large;
    margin-top: 30px;
    margin-bottom: 30px;
    font-family: 'Rubik', sans-serif;
}


//SEARCH BAR + BTN
.btnMessages{
    font-family: 'Rubik', sans-serif;
    display: flex;
    justify-content: left;
    margin-left: 20px;
        .reply{
            font-weight: bold;
            color: white;
            background-color: #B06AB3;
            border: none;
            padding: 8px;
            border-radius: 10px;
            margin-right: 10px;
            margin-left: 10px;
            height: 40px;
        }

        .tool{
            font-weight: bold;
            color: #909090;
            background-color: #F7F7F7;
            border: none;
            padding: 8px;
            margin-left: 10px;
            border-radius: 10px;
            width: 70px;
            height: 40px;
        }

        .searchbarMessage{
            font-weight: bold;
            color: white;
            background-color: #F7F7F7;
            border: none;
            border-radius: 10px;
            margin-right: 10px;
            margin-left: 10px;
            width: 22rem;
            height: 40px;
            text-align: center;
            input{
                border:none;
                background-color: #F7F7F7;
            }
            button{
                border:none;
                background-color: #F7F7F7;
                height: 20px;
                
            }
            .fa{
            font-weight: bold;
            color: #909090;
            background-color: #F7F7F7;
            border: none;
            padding: 8px;
            border-radius: 10px;
            width: auto;
            height: 40px;
            }

            .fas{
            font-weight: bold;
            color: #909090;
            background-color: #F7F7F7;
            border: none;
            padding: 8px;
            width: auto;
            height: 40px;
            }
        }
}


//MESSAGES BLOCK
.messages{
    font-family: 'Rubik', sans-serif;
    margin-top: 20px;
    background-color: #F9F9F9;
    padding: 1rem;
    border-radius: 10px;
    width: 66%;

//DETAILS OF ONE MESSAGE
    .message1{
        background-color: white;
        padding: 2rem;
        border-radius: 8px;
        margin-left: 0px;
        margin-right: initial;
        margin-top: initial;
        margin-bottom: 20px;
        .user{
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: center;
            text-align: center;
            .avatar{
            border-radius: 100px;
            margin-bottom: 2rem;
            width: 140px;
            }
            .pseudo{
            color: #AB2819;
            font-weight: bolder;
            }
            .level{
                color: gray;
            }
            .numberOfPosts{
                color: black;
                font-weight: bold;
                .num{
                    color: gray;
                    font-weight: bold;
                }
            }
        }
        .detailsMessage{
            .date{
                color: gray;
                font-weight: 600;
            }
            .hour{
                color: gray;
                font-weight: 600; 
            }
            .textMessage{
                color: black;
            }
            .lineMessSign{
                border-top: solid #D9DCDF 1px;
            }
            .signatureMessage{
                color: black;
                padding-top: 20px;
            }
        }
        .quote{
            background-color: #F7F7F7;
            color: #8F8F8F;
            height: 50px;
            width: 50px;
            border-radius: 50px;
            text-align: center;
            padding-top: 12px;
            border: solid #8F8F8F 1px;
        }
    }




//DETAILS OF A SECOND MESSAGE
    .message2{
        background-color: white;
        padding: 2rem;
        border-radius: 8px;
        margin-left: 0px;
        width: 100%;
        .user{
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: center;
            text-align: center;
            .avatar{
            border-radius: 100px;
            margin-bottom: 2rem;
            width: 140px;
            }
            .pseudo{
            color: #AB2819;
            font-weight: bolder;
            }
            .level{
                color: gray;
            }
            .numberOfPosts{
                color: black;
                font-weight: bold;
                .num{
                    color: gray;
                    font-weight: bold;
                }
            }
        }
        .detailsMessage{
            .date{
                color: gray;
                font-weight: 600;
            }
            .hour{
                color: gray;
                font-weight: 600; 
            }
            .textMessage{
                color: black;
            }
            .lineMessSign{
                border-top: solid #D9DCDF 1px;

            }
            .signatureMessage{
                padding-top: 20px;
                color: black;
            }
        }
        .quote{
            background-color: #F7F7F7;
            color: #8F8F8F;
            height: 50px;
            width: 50px;
            border-radius: 50px;
            text-align: center;
            padding-top: 12px;
            border: solid #8F8F8F 1px;
        }
    }
}



//RIGHT BLOC
.searchBarreBlocDroitLogin{
    background-color: #F7F7F7;
    border: 2px solid gray;
    border-radius: 30px;
    width: 360px;
    height: 42px;
    margin: -12px 0px 26px 16px;
}
.BlocDroit{
    background-color: #FFFFFF;
    width: 30%;
    float: right;
    height: 66rem;
    padding: 1 rem;
    .BlocDroitLogin{
        margin-top: 30px;
        #BlocDroitSearch{
            margin-left: 14px;
            border: none;
            margin-top: 2px;
            padding: 5px 0px 0px;
            background-color: #F7F7F7;;
        }
        button{
            border: solid 1px gray;
            background-color: #F7F7F7;
            border-top: none;
            height: 39px;
            width: 42px;
            color: #989898;
            margin-left: 4px;
            
        }
        .btnParam{
            border:none;
            background-color: #F7F7F7;
            height: 20px;
            border-radius: 30px;
            height: 26px;
            width: 31px;
            color: #989898;
            margin: 0px;
        }
        .ligneColorLog{
            border: solid 2px  rgb(72, 104, 220);
            width: 22rem;
            margin-left: 17px;
            margin-bottom: 17px;
        }
        li{
            list-style: none;
            display: inline-flex;
            padding: 2px;
            color: #8F8F8F;
            a{
                color: gray;
                text-decoration: none;
            }
        }
        .point{
            padding-bottom: 10px;
            color: gray;
        }
       ul.loginRegister{
        padding-left: 15px; 
        margin: 0px;
       }
       .BlocDroitLigneDeux{
        border: 1px solid gray;
        width: 22rem;
        border-top: none;
        margin-left: 18px;
        margin: 5px 0px 16px 16px;
       }
       .Username{
        width: 22rem;
        height: 42px;
        border: 1px solid grey;
        border-radius: 20px;
        padding-left: 15px;
       }
       .Password{
        width: 22rem;
        height: 42px;
        border: 1px solid grey;
        border-radius: 20px;
        padding-left: 15px;
       }
       .btnLogin{
        cursor: pointer;
        width: 22rem;
        border: solid 2px transparent;
        background: #B06AB3;
        color: white;
        border-radius: 20px;
        height: 42px;
        margin: 13px 0px 27px 0px;
    }
    .remember{
        margin: 15px 0px 16px 2px;
    }
    .forgot{
        margin: 0px 0px 54px 16px;
    }
       }
       .log{
           display: inline-block;
           margin-left: 16px;
       }
       .lastpostcolor{
        background: linear-gradient(90deg, rgb(174, 106, 179), rgb(72, 104, 220));
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        height: 3.5rem;
        margin-left: 16px;
       }
       .lastPostTitle{
        font-size: 1.75rem;
        color: white;
        font-weight: 400;
        padding: 10px 0px 0px 20px;
       }
       .BlocDroitArticle{
        background-color: #F9F9F9;
        height: 20rem;
        margin: -16px 0px 0px 16px;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
       }
       .articleLastPost{
           background-color: #FFFFFF;
           height: 7rem;
           margin-top: 10px;
       }
    }




//BTN END
.btnMessageEnd{
    margin-top: 20px;
    margin-bottom: 30px;
    margin-top: 61rem;
    .reply{
    font-weight: bold;
    color: white;
    background-color: #B06AB3;
    border: none;
    padding: 8px;
    border-radius: 10px;
    margin-right: 10px;
    margin-left: 10px;
    height: 40px;
    }
    .tool{
    font-weight: bold;
    color: #909090;
    background-color: #F7F7F7;
    border: none;
    padding: 8px;
    border-radius: 10px;
    width: 70px;
    height: 40px;
    }
}

.pathEnd{
    display: flex;
    justify-content: space-between;
    margin-bottom: 35px;
    a{
        text-decoration: none;
        color: #6A6A6A;
        padding: 5px;
    }
    #jumpTo{
        font-weight: bold;
            color: #909090;
            background-color: #F7F7F7;
            border: none;
            padding: 10px;
            border-radius: 20px;
            width: 130px;
            height: 40px;
    }
}


//FOOTER
footer{
    .logos{
        background: -webkit-linear-gradient(90deg, rgb(174, 106, 179), rgb(72, 104, 220));
        background: linear-gradient(90deg, rgb(174, 106, 179), rgb(72, 104, 220));
        height: 160px;
        ul{
        list-style: none;
        display: flex;
        justify-content: center;
        padding: 68px;
        margin-top: 80rem;
            li{
                padding: 10px;
                font-size: 40px;
                color: white;
                border: solid white 2px;
                border-radius: 50px;
                height: 4rem;
                width: 4rem;
                line-height: 40px;
                margin: 0px 15px;
                justify-content: center;
                display: flex;
            }
        }
    }
    .lastLine{
        display: flex;
        justify-content: space-between;
        background-color: #2D3039;
        height: 80px;
        ul{
            display: flex;
            text-decoration: none;
            list-style: none;
            padding: 15px;
            li{
                color: #6A6A6A;
            }
            a{
                text-decoration: none;
                color: #B06AB3;
                padding: 7px;
            }
        }
        .btn-up{
            position: relative;
            text-decoration: none;
            font-size: 30px;
            color: white;
            background-color: #B06AB3;
            width: 50px;
            height: 50px;
            margin-right: 20px;
            
           .fas{
               padding: 10px;
           }
        }
    }

}