body {
  margin: 0;
  padding: 0;
}

.blocAnnou {
  margin: 20px;
  border-radius: 30px;
  background-color: white;
}

.announce {
  padding: 0px 0px 20px 0px;
  background-color: #d9dcdf;
  width: 95%;
  margin-bottom: 20px;
  border-radius: 30px;
}

.announceTitre {
  width: 100%;
  background: linear-gradient(90deg, #ae6ab3, #4868dc);
  padding-top: 10px;
  font-size: 20px;
  color: white;
  text-align: left;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  margin-left: 1px;
}

.announceText {
  background-color: white;
  padding-top: 15px;
  border-radius: 30px;
  margin: 10px 10px 0px 10px;
  box-shadow: 0px 2px 2px gray;
  font-weight: 400;
}

.fa-bullhorn:before {
  color: #d9dcdf;
  border: 1px solid #d9dcdf;
  border-radius: 50px;
  padding: 2px;
}

.topics {
  background-color: #d9dcdf;
  border-radius: 30px;
  width: 95%;
  margin-bottom: 20px;
  height: 30rem;
}

.topicsTitres {
  background: linear-gradient(90deg, #ae6ab3, #4868dc);
  padding-top: 10px;
  font-size: 20px;
  color: white;
  text-align: left;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  margin-bottom: 10px;
}

.topicsText {
  padding-top: 10px;
  border-top: 1px solid #d9dcdf;
  color: #d9dcdf;
  background-color: white;
  margin: 0px 10px 0px 10px;
  box-shadow: 0px 2px 2px gray;
}

.fa-check:before {
  color: green;
  border: 1px solid green;
  border-radius: 50px;
  padding: 2px;
}

.fa-times:before {
  color: red;
  border: 1px solid red;
  border-radius: 50px;
  padding: 4px;
}

.fa-grip-lines:before {
  border: 1px solid;
  border-radius: 50px;
  padding: 4px;
}

.topicTitre {
  color: black;
  font-weight: 500;
}

.fa-lock:before {
  color: #ae6ab3;
}

.byName {
  color: #ab2819;
  font-weight: 400;
}
